<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/RoseTec/JigSPuzzle/blob/master/src/main/resources/images/icon.png?raw=true" sizes="32x32">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>JigSPuzzle | a Jigsaw Puzzle Program</title>
    <!--title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title-->
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1><img src="https://github.com/RoseTec/JigSPuzzle/blob/master/src/main/resources/images/icon.png?raw=true" height="100" width="100" /> {{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            {% for release in site.github.releases %}
              {% if release.draft %}
                {% continue %}
              {% endif %}
              <p>Last release: <a href="{{ release.html_url }}">{{ release.tag_name }}</a></p>
          
              {% for man_download in release.assets %}
                <a href="{{ man_download.browser_download_url }}" class="button">
                  <small>Download</small>
                  {% if man_download.name == 'JigSPuzzle.zip' %}
                    {{ release.tag_name }} (.zip)
                  {% else %}
                    {{ man_download.name }}
                  {% endif %}
                </a>
              {% endfor %}
              <p>Sourcecode:</p>
              <a href="{{ release.zipball_url }}" class="button">
                <small>Download Sources</small>
                {{ release.tag_name }} (.zip)
              </a>
              <a href="{{ release.tarball_url }}" class="button">
                <small>Download Sources</small>
                {{ release.tag_name }} (.tar.gz)
              </a>
              {% break %}
            {% endfor %}
          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
    
    {% if site.debug_gh_pages %}
<!-- {{ site }} -->
    {% endif %}
  </body>
</html>
